<mat-progress-bar *ngIf ="loading"  mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content>

    <div style="margin-top: 5px;">
        <mat-form-field class="mr-16 w100" appearance="outline">
            <mat-label>Company</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "user.company" matInput placeholder="Name of the Company">
        </mat-form-field>

    <div>
        <mat-form-field class="mr-16 w100" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "user.email"  matInput placeholder="Placeholder">
        </mat-form-field>

    </div>

    <div>
        <mat-form-field class="mr-16 w100" appearance="outline">
            <mat-label>Street + Number</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "user.street" matInput placeholder="Placeholder">
        </mat-form-field>

    </div>

    <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>ZIP Code</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "user.zipCode"  matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field  appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "user.city"  matInput placeholder="Placeholder">
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button class="btnCancel" [disabled] = "loading"  (click)="dialogClose()" mat-button >Cancel</button>
    <button class="btnSave" [disabled] = "loading" (click)="saveNewUser()" mat-button >Save</button>
</div>