<mat-card>
    <table  cellspacing="0" class="user-table">
      <tr>
        <th>Productname</th>
        <th>Amount sold</th>
        <th>Price per unit</th>
        <th>Total value</th>
      </tr>
      
      <tr *ngFor="let item of productNames; let i = index;">
        <td>{{ productNames[i] }} </td>
        <td> X {{ calculateAmountOfSingleProduct(i) }}</td>
        <td>{{ productPrices[i] }}€</td>
        <td>{{  calculateAmountOfSingleProduct(i)  * productPrices[i] }}€</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="font-size: 16px; font-weight: 500;">Total: {{calculateTotalValueOfAllSales()}}€</td> 
      </tr>
     
    </table>
  </mat-card>
  
 
  