<mat-card>
    <table  cellspacing="0" class="user-table">
      <tr>
        <th>Productname</th>
        <th>Amount sold</th>
        <th>Price per unit</th>
        <th>Total value</th>
      </tr>
      
      <tr *ngFor="let item of allItems; let i = index;">
        <td>{{ item['data']['name'] }} </td>
        <td> X {{ calculateAmountOfSingleProduct(i) }}</td>
        <td>{{ item['data']['price'] }}€</td>
        <td>{{  calculateAmountOfSingleProduct(i)  * item['data']['price'] }}€</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: {{calculateTotalValueOfAllSales()}}€</td> 
      </tr>
     
    </table>
  </mat-card>
  
 
  