<h1 mat-dialog-title>Add sales</h1>
<div mat-dialog-content>


  <mat-form-field class="mr-16 w100 pt-10" appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select [(value)]="selectedCompany">
        <mat-option *ngFor="let company of allUsers" [value]="company['data']['company']">{{company['data']['company']}}</mat-option>
    </mat-select>
</mat-form-field>

    <mat-form-field class="mr-16 w100" appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select [(value)]="selectedProduct">
            <mat-option *ngFor="let product of productNames" [value]="product">{{product}}</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="w100" appearance="outline">
        <mat-label>Amount</mat-label>
        <input type="number" [(ngModel)]="selectedAmount"  min="1" max="99" matInput placeholder="Add amount">
    </mat-form-field>


    <div mat-dialog-actions>
        <button class="btn" mat-button (click)="dialogClose()">Cancel</button>
        <button class="btn" mat-button (click)="addAmountToSelectedUserAndProduct()">Save</button>
    </div>

</div>