<h1 mat-dialog-title>Add sales</h1>
<div mat-dialog-content>


    <mat-form-field class="mr-16 w100" appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="mr-16 w100" appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="one">First option</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="w100" appearance="outline">
        <mat-label>Amount</mat-label>
        <input type="number" min="0" max="1000" matInput placeholder="Placeholder">
    </mat-form-field>


    <div mat-dialog-actions>
        <button mat-button>Cancel</button>
        <button mat-button>Save</button>
    </div>

</div>