<div class="main" [ngClass]="{'d-none': getShowLoginWindow()}">
    <div class="content">
        <h1 mat-dialog-title>Login</h1>
        <div [formGroup]="loginForm" mat-dialog-content>

            <div style="margin-top: 5px;">

                <div>
                    <mat-form-field class="mr-16" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Email">
                        <mat-error class="error" *ngIf="loginForm.controls['email'].hasError('required')">Email is
                            required or has the wrong form</mat-error>
                    </mat-form-field>
                    <div>
                        <mat-form-field class="mr-16" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" placeholder="Password">
                            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div mat-dialog-actions class="btn-container">
                    <button mat-button (click)="loginWithEmailAndPassword()">Login</button>
                    <button mat-button (click)="loginAsGuest()">Login as Guest</button>
                    <button (click)="loginWithGoogle()" mat-button>Login with Google</button>
                </div>
                <div class="signUp-container">
                    <p>Don't have an account?</p><p style="font-weight: 800; color: blue; padding-left: 5px;"(click)="toggleShowLoginWindow()">Sign-Up</p>
                </div>
            </div>
        </div>