<h1 mat-dialog-title>Edit name and email</h1>
<div mat-dialog-content style="width: 500px;">

    <div style="margin-top: 5px;">

        <div>
            <mat-form-field class="mr-16 w100" appearance="outline">
                <mat-label>Company</mat-label>
                <input [disabled]="loading" [(ngModel)]="userData['company']" matInput placeholder="Placeholder">
            </mat-form-field>


            <div>
                <mat-form-field class="mr-16 w100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [disabled]="loading" [(ngModel)]="userData['email']" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button class="btnCancel" [disabled]="loading" (click)="dialogClose()" mat-button>Cancel</button>
            <button class="btnSave" [disabled]="loading" (click)="changeSelectedUserDetails()" mat-button>Save</button>
        </div>