<app-login></app-login>
<app-signup></app-signup>
<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="sidenav-logo-container"><img src="./assets/img/logo.png" alt=""></div>
    <ul class="menu-list">
      <li routerLink="/dashboard"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>person</mat-icon>User</li>
      <li routerLink="/items"><mat-icon>category</mat-icon>Products</li>
    </ul>
    <ul class="menu-list legal-notice">
      <li routerLink="/legal-notice"><mat-icon>info</mat-icon>Legal notice</li>
      <li routerLink = "/" (click)="openLogInWIndow()"><mat-icon>logout</mat-icon>Logout</li>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu" (click)="drawer.toggle()">menu</mat-icon>
        <span class="headline-text">Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>