<div class="main" [ngClass]="{'d-none': getShowSigninWindow()}">
    <div class="content">
        <h1 mat-dialog-title>Register</h1>
        <div [formGroup]="registerForm" mat-dialog-content>

            <div style="margin-top: 5px;">

                <div>
                    <mat-form-field class="mr-16" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Email" #emailInput (keyup)="onInputChangeEmail(emailInput.value)">
                    </mat-form-field>
                    <p #emailIsRequired class="alert-text d-none">Email is required or has the wrong form.</p>
                    <div>
                        <mat-form-field class="mr-16" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" placeholder="Password"[type]="hide ? 'password' : 'text'" #passwordInput (keyup)="onInputChangePassword(passwordInput.value)">
                            <mat-icon (click)=" hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </mat-form-field>
                        <p #passwordIsRequired class="alert-text d-none">Your password is to short, use atleast 6 symbols.</p>
                    </div>
                </div>

                <div mat-dialog-actions class="btn-container">
                    <button mat-button (click)="toggleShowLoginWindow()" routerLink=""><mat-icon>arrow_back</mat-icon>Back</button>
                    <button mat-button [disabled]="registerForm.invalid"  (click)="signupWithEmailAndPassword()"><mat-icon>how_to_register</mat-icon>Register</button>
                </div>
            </div>
        </div>
         <div style="display: none;" [ngClass]="{'success-window': showSignUp}">Signup succesfully</div>
    </div>
       