
<button mat-flat-button (click)="openDialog()" class="add-user-btn" style="color: white;"><mat-icon>person_add_alt_1</mat-icon>Add a new User</button>

<mat-card>
  <table  cellspacing="0" class="user-table">
    <tr>
      <th>Companies</th>
      <th>Email</th>
      <th>Member since</th>
    </tr>
    
    <tr *ngFor="let user of allUsers; let i = index;" [routerLink] = "['/user/' + user['id']]">
   
      <td >{{user['data']['company']}}</td>
      <td>{{user['data']['email']}}</td>
      <td>{{user['data']['membersince']}}</td>
    </tr>
   
  </table>
</mat-card>


