<mat-card>
  <table  cellspacing="0" class="user-table">
    <tr>
      <th>Companies</th>
      <th>Email</th>
      <th>Member since</th>
    </tr>
    
    <tr *ngFor="let user of allUsers; let i = index;" [routerLink] = "['/user/' + user['id']]">
   
      <td >{{user['data']['company']}}</td>
      <td>{{user['data']['email']}}</td>
      <td>{{user['data']['membersince']}}</td>
    </tr>
   
  </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" matTooltip="Add a new user" [matTooltipPosition]="'above'" mat-fab
  color="primary">
  <mat-icon>add</mat-icon>
</button>
