<div class="content">
    <app-bar-chart></app-bar-chart>
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Customers</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{allUsers.length}}</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Products sold</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ calcProductSales()}}</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total sales</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{calculateTotalValueOfAllSales()}} €</mat-card-content>
        </mat-card>
    </div>

</div>
<div class="content mt-32">
    <mat-card>
        <table matSort (matSortChange)="sortData($event)" cellspacing="0" class="user-table">
        <th style="display: flex;align-items: center; border-bottom: unset;">Sort companies based on their purchasing power:</th>
            <tr>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="value">Price</th>
            </tr>

            <tr *ngFor="let company of valueSort">
                <td>{{company.name}}</td>
                <td>{{company.value}}</td>
            </tr>

        </table>
    </mat-card>
    <app-line-chart></app-line-chart>

</div>