.content {
    width: 100%;
    display: flex;
    height: 50%;
    flex-wrap: wrap;
}

app-line-chart,
app-bar-chart,
app-pie-chart,
app-history-chart {

    width: 60%;
}

mat-card {
    width: 40%;
    padding-left: 0;
    padding-right: 0px;
    box-shadow: 0px 5px 5px -3px rgba(163, 1, 230, 1), 0px 8px 10px 1px rgba(82, 95, 233, 1), 0px 3px 14px 2px rgba(1, 191, 248, 1);
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: black;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    th {
        color: rgba(0, 0, 0, 0.5);
        text-align: start;
        border-bottom: 2px solid gray;
        height: 48px;

        &:first-child {
            padding-left: 16px;
        }
    }

    td {
        height: 48px;

        &:first-child {
            padding-left: 16px;
        }

    }

    tr {
        border-bottom: 2px solid gray;
       

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }
    }
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;

    mat-card {
        display: flex;
        align-items: center;
        width: 25%;
        color: black;
        border-radius: 10px;

    }


    mat-card:nth-child(2) {
        width: 200px;
       
    }

}