html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mr-16{
    margin-right: 16px;
}

.mt-32{
    margin-top: 32px;
}

.w100{
    width: 100%;
}


button:disabled{
    background-color: grey!important;
    border-color: grey!important;
    color: white!important;
}

::-webkit-scrollbar {
    width: 12px;               
  }
  
  ::-webkit-scrollbar-track {
    background-color: whitesmoke;       
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(57deg, rgba(163,1,230,1) 0%, rgba(82,95,233,1) 35%, rgba(1,191,248,1) 100%); 
    border-radius: 20px;      
    border: 1px solid rgba(1,191,248,1); 
  }

