html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mr-16{
    margin-right: 16px;
}

.mt-32{
    margin-top: 32px;
}

.w100{
    width: 100%;
}


button:disabled{
    background-color: grey!important;
    border-color: grey!important;
    color: white!important;
}

::-webkit-scrollbar {
    width: 12px;               
  }
  
  ::-webkit-scrollbar-track {
    background-color: whitesmoke;       
  }
  
  ::-webkit-scrollbar-thumb {
    background: #07575B; 
    border-radius: 20px;      
    border: 2px solid #66A5AD;
  }

