<h1 mat-dialog-title>Edit address</h1>
<div mat-dialog-content>

    <div style="margin-top: 5px;">
   
    <div>
        <mat-form-field class="mr-16 w100" appearance="outline">
            <mat-label>Street + Number</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "userData['street']" matInput placeholder="Placeholder">
        </mat-form-field>

    <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>ZIP Code</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "userData['zipCode']"  matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field  appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled] = "loading" [(ngModel)] = "userData['city']"  matInput placeholder="Placeholder">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button class="btn" [disabled] = "loading"  (click)="dialogClose()"mat-button >Cancel</button>
        <button class="btn" [disabled] = "loading" (click)="changeSelectedUserDetails()"mat-button>Save</button>
    </div>



